body {
  font-family: "Poppins", sans-serif !important;
}

.container {
  max-width: 1130px !important;
}

h1 {
  color: #5e63f2 !important;
  font-size: 30px;
  font-weight: 600;
}

h1 span {
  color: #22b290;
}

p {
  color: #082777;
  margin-bottom: 0 !important;
}

a {
  margin: 0;
  color: #5e63f2 !important;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none !important;
  border-bottom: 1px solid;
  transition: 0.4s ease-in-out all;
}
a:hover {
  border-bottom: 1px solid transparent;
}

input {
  font-size: 16px;
  background-color: #ddeafb;
  border-radius: 10px;
  border: none;
}

input[type="text"],
input[type="password"] {
  padding: 12px 16px;
  height: 48px;
  width: 100%;
}

input[type="checkbox"] {
  padding: 12px 16px;
  height: 16px;
  width: 16px;
}

input:active,
input:focus {
  outline: none;
  border: none;
}

button,
.button {
  background-color: #0cd0a2;
  color: #f3f8ff;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 100%;
  border-radius: 10px !important;
  border: none;
  transition: 0.4s ease-in-out all;
}

button:hover {
  background-color: #5e63f2;
}

button:active,
button:focus {
  outline: none;
  border: none;
}

.divider-line {
  width: 3px;
  height: 100%;
  background-color: #d3e2f4;
}

.small-bar {
  background-color: #0cd0a2;
  height: 4px;
  width: 40px;
  border-radius: 5px;
}

.form-wrapper .form-field-wrapper > * + * {
  margin-top: 19px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.password-wrapper .icon-eye {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.83 5.99994L14 9.15994C14 9.10994 14 9.04994 14 8.99994C14 8.20429 13.6839 7.44123 13.1213 6.87862C12.5587 6.31601 11.7956 5.99994 11 5.99994C10.94 5.99994 10.89 5.99994 10.83 5.99994ZM6.53 6.79994L8.08 8.34994C8.03 8.55994 8 8.76994 8 8.99994C8 9.79559 8.31607 10.5587 8.87868 11.1213C9.44129 11.6839 10.2044 11.9999 11 11.9999C11.22 11.9999 11.44 11.9699 11.65 11.9199L13.2 13.4699C12.53 13.7999 11.79 13.9999 11 13.9999C9.67392 13.9999 8.40215 13.4732 7.46447 12.5355C6.52678 11.5978 6 10.326 6 8.99994C6 8.20994 6.2 7.46994 6.53 6.79994ZM1 1.26994L3.28 3.54994L3.73 3.99994C2.08 5.29994 0.78 6.99994 0 8.99994C1.73 13.3899 6 16.4999 11 16.4999C12.55 16.4999 14.03 16.1999 15.38 15.6599L15.81 16.0799L18.73 18.9999L20 17.7299L2.27 -6.10352e-05M11 3.99994C12.3261 3.99994 13.5979 4.52672 14.5355 5.46441C15.4732 6.40209 16 7.67386 16 8.99994C16 9.63994 15.87 10.2599 15.64 10.8199L18.57 13.7499C20.07 12.4999 21.27 10.8599 22 8.99994C20.27 4.60994 16 1.49994 11 1.49994C9.6 1.49994 8.26 1.74994 7 2.19994L9.17 4.34994C9.74 4.12994 10.35 3.99994 11 3.99994Z' fill='%2391BDF5'/%3E%3C/svg%3E%0A");
  width: 22px;
  height: 19px;
}

/* Footer Start */
footer {
  padding-top: 102px;
  padding-bottom: 75px;
}

footer .content-wrapper > * + * {
  margin-top: 8px;
}

footer p {
  color: #5e63f2;
  font-size: 12px;
}

@media all and (max-width: 1199.98px) {
  footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
/* Footer End */
